#subscribe {
  cursor: pointer;
  background: #E0E0E0;
}

:root {
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-black-1);
}

#subscribe {
  position: relative;
  width: 180px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #444;
  transition: var(--speed-normal);
  border: 1px solid var(--color-red);
}

#subscribe:hover {
  border: 1px solid transparent;
  background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  transition-delay: 0.8s;
  background-size: 180px;
  color: var(--color-white);
  animation: animate var(--speed-fast) steps(8) forwards;
}

#subscribe:last-of-type {
  border: 1px solid var(--color-purple);
}

#subscribe:last-of-type:hover {
  background: var(--color-purple) url(https://i.postimg.cc/FzBWFtKM/pixel2.png);
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -480px;
  }
}